#signup {
    min-height: 100vh;


    .container {

        display:flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        
        .signup-editForm{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

            .form-signup{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem 2rem;
                grid-template-areas:
                    "firstName lastName"
                    "email email"
                    "password password"
                    "confirm confirm";

                #form-firstname{
                    grid-area: firstName;

                    label{
                        margin: 0.188rem;
                    }
                }
                
                #form-lastname{
                    grid-area: lastName;

                    label{
                        margin: 0.188rem;
                    }
                }

                #form-email{
                    grid-area: email;

                    label{
                        margin: 0.188rem;
                    }
                }

                #form-password{
                    grid-area: password;

                    label{
                        margin: 0.188rem;
                    }
                }

                #form-confirm{
                    grid-area: confirm;

                    label{
                        margin: 0.188rem;
                    }
                }

                

            }

        }

    }

}